*.swp
*~
.DS_Store
.gitkeep
.idea/
.project
.rspec
/.bundle
/db/*.sqlite3
/log/*.log
/tmp
bundler_stubs/
config/database.yml
custom_plan.rb
doc/
public/*
tags
zeus.json
/assets/bootstrap
app/models/role.rb
app/models/user.rb