*.bak
*.orig
*.swp
*sublime-project
*sublime-workspace
*~
.DS_Store
.gitkeep
.idea/
.project
.rbenv-gemsets
.rspec
.ruby-version
.rvmrc
/.bundle
/assets/bootstrap
/db/*.sqlite3
/log/*.log
/tmp
bundler_stubs/
config/database.yml
custom_plan.rb
doc/
public/*
tags
zeus.json
