.row
  %h3.ten.columns
    Senarai Report Kursus

.table
  .row.table-head
    .four.columns
      %h6
        Nama Kursus
    .four.columns
      %h6
        Tarikh Laporan Dijana
  - current_consultant.course_reports.each do |course_report|
    .row.table-rows
      .four.columns
        = link_to course_report.course.name, view_report_course_path(course_report.course), target: '_blank'
      .four.columns
        = course_report.report_date