- model_class = User
.row
  %h3.twelve.columns
    = t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human
  - unless @user.is_member?
    %small
      * Sila isi semua maklumat profil (kecuali twitter dan facebook) untuk menggunakan sistem sepenuhnya.
  %hr.divider
.row
  .twelve.columns
    = render :partial => "form"