= form_for @skill, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label t("name"), :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'text_field'
 
  .form-actions
    %span.medium.pretty.btn.primary
      = f.submit t('.create')#, :class => 'btn btn-primary'