%p#notice= notice

%p
  %b Name:
  = @newsletters_template.name
%p
  %b Template:
  = @newsletters_template.template.html_safe

%span.medium.pretty.btn.secondary
  = link_to 'Edit', edit_newsletters_template_path(@newsletters_template)