%h2
  FAQ

%ol
  %li
    .bold
      Apakah itu sistem PKNS BizData? 
    %p

      PKNS BizData merupakan hub simpanan data-data usahawan di bawah program-program yang 

      diuruskan oleh PKNS. Sistem ini adalah salah satu medan jaringan perniagaan para usahawan dan 

      bakal usahawan. Anda boleh mendaftar sebagai ahli dengan hanya mengemaskini maklumat 

      peribadi dan perniagaan anda. 

  %li
    .bold
      Berapakah bayaran yang dikenakan untuk menjadi ahli PKNS BizData? 

    %p
      Tiada bayaran yang diperlukan. Pendaftaran PKNS BizData adalah PERCUMA. 

  %li
    .bold
      Bagaimanakah caranya untuk daftar ahli PKNS BizData? 

    %p
      Pendaftaran adalah mudah. Sila ikuti langkah di bawah: 

    %p
      a) Isikan maklumat yang ada pada web sistem 

    %p
      b) Setuju dengan Syarat dan Terma 

    %p
      Setelah mendaftar, anda hanya perlu “Sahkan Akaun” melalui email pendaftaran dan mengemaskini 

      profil dalam sistem. 

  %li
    .bold
      Apakah kelebihan menjadi Ahli Aktif PKNS BizData? 

    %p
      a) Anda akan mendapat semua makluman program terkini yang dianjurkan oleh PKNS dari pelbagai 

      program dan peringkat. 

    %p
      b) Mendaftar program atau kursus yang anda minat secara dalam talian, dan profail anda sudah pun 

      disimpan di dalam sistem. 

    %p
      c) Anda akan menerima buletin secara percuma dari Rakan-rakan Strategik program di bawah 

      jaringan PKNS. 

    %p
      d) Anda juga boleh menyemak program-program yang pernah anda hadiri sebelum ini sebagai 

      rujukan. 

    %p
      e) Dalam perniagaan, jaringan perniagaan adalah sangat penting. Anda boleh mendapat jaringan 

      perhubungan dan maklumat dengan semua peserta-peserta program di bawah PKNS. Apa yang 

      menarik ianya dikategorikan mengikut industri dan sebagainya. 

    %p
      f) Anda boleh mendapat khidmat perundingan dari Rakan-rakan Strategik PKNS melalui sistem PKNS 

      Biz Data secara terus. 

    %p

      g) Untuk mengembangkan lagi perniagaan anda, kami juga menyediakan kemudahan pengiklanan 

      perniagaan anda melalui sistem ini. Iklan dipaparkan pada blog dan sistem PKNS BizData 

    %p
      h) Selain itu, ahli PKNS BizData dapat mengakses sistem PKNS BizData secara menyeluruh dan 

      menggunakan kemudahan yang disediakan dalam sistem. 

    %p

      i) Anda dapat menyertai kaji selidik / pertandingan / memberi cadangan secara terus kepada PKNS 

      dan Rakan Strategik PKNS.

    %li
      .bold
        Bagaimanakah sekiranya saya lupa kata laluan? 

      %p 
        Tiada masalah. Anda boleh klik pada 'Lupa Kata Laluan' dan akan mendapat email untuk mendaftar 

        kata laluan anda. 

    %li
      .bold
        Bagaimanakah caranya saya hendak menyertai kursus yang diadakan oleh PKNS? 

      %p  
        Bagi pengguna baru, anda perlu mendaftar sebagai ahli PKNS BizData dan mengemaskini profil ahli 

        bagi menyertai kursus anjuran PKNS melalui sistem. 

        Bagi pengguna yang sudah berdaftar, anda hanya perlu masuk ke dalam sistem dan pilih kursus di 

        ‘Senarai Kursus Akan Datang’. Anda hanya perlu klik ‘Daftar Kursus’ pada mana-mana kursus yang 

        anda ingin sertai. 

    %li
      .bold
        Bagaimanakah caranya saya hendak membuat iklan dalam sistem? 

      %p  
        Bagi pengguna baru, anda perlu mendaftar sebagai ahli PKNS BizData dan mengemaskini profil ahli 

        bagi mencipta iklan. 

        Bagi pengguna yang sudah berdaftar, anda hanya perlu masuk ke dalam sistem dan cipta iklan pada 

        label ‘Tambahan’. Isikan maklumat dengan lengkap dan klik pada ‘Cipta Iklan’ dan seterusnya klik 

        pada ‘Permohonan Iklan’. 

        Pihak Admin PKNS BizData akan melihat permohonan iklan anda sebelum diluluskan. 

    %li
      .bold
        Apakah maksud bagi istilah yang digunakan dalam sistem PKNS BizData? 

      %table.table.table-striped
        %tr
          %th
            Bil 
          %th
            Terminologi 
          %th
            Definisi 

        %tr
          %td
            1. 
          %td
            Ahli Aktif 
          %td
            Ahli yang sudah mengemaskini profil dalam sistem PKNS BizData

        %tr
          %td
            2. 
          %td
            Ahli Tidak 
          %td
            Aktif Ahli yang belum mengemaskini profil dalam sistem PKNS BizData

        %tr
          %td
            3. 
          %td
            Program 
          %td
            Program-program di bawah BPU-PKNS 

        %tr
          %td
            4. 
          %td
            Kursus 
          %td
            Kursus-kursus yang dianjurkan oleh Rakan Strategik di 
            bawah BPU-PKNS 

        %tr
          %td
            5. 
          %td
            Rakan Strategik 
          %td
            Perunding di bawah BPU-PKNS 

        %tr
          %td
            6. 
          %td
            Pengguna 
          %td
            Semua Ahli Aktif, Ahli Tidak Aktif, Rakan Strategik dan 
            Operator PKNS adalah pengguna sistem PKNS BizData 

        %tr
          %td
            7. 
          %td
            Pentadbir PKNS 
          %td
            Pihak BPU-PKNS yang menjadi pentadbir/admin dan 
            menyelenggara sistem PKNS BizData 

        %tr
          %td
            8. 
          %td
            Buletin 
          %td
            Penyimpanan semua buletin yang dicipta oleh Pentadbir 
            PKNS dan Rakan Strategik yang pernah dihantar kepada 
            pengguna. 

    %li
      .bold
        Bagaimanakah caranya saya hendak menghubungi ahli PKNS BizData yang lain untuk tujuan 

        perniagaan? 

      %p
        Anda boleh hubungi ahli PKNS BizData yang lain dengan cara: 
      %p


        a) Hubungi terus melalui sosial media (Facebook dan Twitter) yang terdapat dalam profil ahli 

      %p
        b) Hubungi admin@pknsbizdata.com untuk dapatkan maklumat mengenai ahli 

    %li
      .bold
        Siapakah yang boleh saya hubungi untuk dapatkan bantuan dan cadangan? 

      %p
        Anda boleh hubungi admin@pknsbizdata.com sekiranya menghadapi masalah ketika melayari 

        sistem.
