- if current_user
  #home
    .row
      .twelve.columns
        %h2
          Welcome to PKNS Biz Club
        %p
          You can start browsing or navigate available resources from left side menu.