.tnc  
  %h2
    Terma & Syarat PKNS BizData

  %p
    PKNS adalah pemilik PKNS BizData. 
  %p
    Saya sebagai PENGGUNA BERDAFTAR PKNS BizData, telah BERSETUJU untuk 
    mematuhi segala syarat dan terma seperti yang termaktub. 
   
  %ol
    %li
      Saya faham bahawa sekiranya saya melanggar mana - mana syarat dan terma PKNS 
      BizData, keahlian saya boleh digantung atau dimansuhkan oleh pihak pengurusan tanpa 
      sebarang notifikasi. 
    %li
      Saya berjanji tidak akan menggunakan sebarang aktiviti yang boleh merosakkan negara, 
      negeri Selangor, dan PKNS. 
    %li
      Sentiasa mematuhi perundangan yang termaktub dalam Akta Suruhanjaya Komunikasi 
      dan Multimedia (1998) sebelum, semasa dan selepas meggunakan PKNS BizData. 
    %li
      Saya berjanji tidak akan menggunakan mana-mana nama organisasi, trademark, 
      copyright, golongan profesional dalam apa jua bentuk yang dilindungi dalam aktiviti laman 
      web kami. 
    %li
      Semua pengguna BizData bersetuju untuk mematuhi praktis berikut dalam perniagaan 
      mereka sendiri untuk kekal menjadi ahli. Praktis yang disenaraikan ini BOLEH berubah pada 
      bila-bila masa tanpa pemberitahuan terlebih dahulu. 
   
  %p
    Praktis TIDAK: buat, menggalakkan atau menyokong laman web yang menjalankan 
    sebarang taktik berikut: 
  .tnc_points
    %ul
      %li
        Kaedah yang tersembunyi atau tawaran palsu 
      %li
        Dokumen sokongan/testimonial yang direka/dipalsukan. Hal ini termasuk 'screenshot' 
        keputusan tidak dicapai secara langsung melalui produk dan kaedah yang dipasarkan 
      %li
        Email sokongan kepada pelanggan yang diabaikan dan tidak akan dilayan 
      %li
        Menjual produk yang belum sempurna untuk digunakan 
      %li
        Mengabaikan janji pemulangan wang, sokongan dan sokongan teknikal (jika dinyatakan di 
        laman jualan) 
      %li
        Promosi yang menggunakan bahasa kotor atau imej yang tidak sesuai dengan etika 
        masyarakat Malaysia. Ini termasuk mesej pengiklanan yang berat sebelah prejudis atau 
        berunsur fitnah. 
      %li
        Keadaan komponen teknologi atas talian yang tidak selamat. Video streaming, masa 
        muatan, setting cookies, pelayar dan lain-lain laman web mesti berfungsi dengan baik dan 
        bebas daripada mana-mana komponen yang boleh membahayakan komputer pelawat. 

  %p
    PELANGGARAN PRAKTIS INI BOLEH MENYEBABKAN PENAMATAN AKAUN 
    PENGGUNA PKNS BIZDATA 
  %ol{start: '6'}
    %li

      Pihak PKNS BizData boleh meminda/menggantung/menarik balik status keahlian saya 
      tanpa sebarang prejudis jika terdapat keraguan dalam perniagaan yang saya jalankan 
    %li
      Saya mengakui bahawa segala butiran yang saya daftarkan di atas adalah benar, tepat 
      dan sah. 
    %li
      PKNS tidak akan menanggung sebarang tuntutan, ganti rugi, kos, dan perbelanjaan, 
      termasuk yuran peguam yang timbul daripada atau berkaitan dengan penggunaan PKNS 
      BizData. 
  %p
    Dengan menghantar butiran pendaftaran ini, saya akan tertakluk kepada syarat dan terma 
    yang telah ditetapkan oleh pihak pengurusan PKNS BizData.
     