- model_class = Letter
.page-header
  %h1=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human
  %small
    = t('fill_all_fields_hint')
= render :partial => "form"
