- model_class = Advert
.page-header
  %h1=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human
- if current_user
  - if current_user.admin?
    = render :partial => "form"
- elsif current_consultant
  = render :partial => "consultant_form"