.four.columns
  %h5 Berita &amp; Peristiwa
  %hr.divider
  .row
    .eleven.columns
      %ul
        - @news.each do |news|
          %li.events
            .row
              .two.columns
                .date= news.created_at.strftime('%d <br/> %b').html_safe
              .ten.columns
                %p.title
                  - title = news.title
                  %small
                    = link_to title, blog_path(news)
                %p
                  %small= news.content[0..100] + '...'