.row
  .twelve.columns
    =render partial: 'adverts/banner_slider', locals: { adverts: @adverts }
.row
  .eight.columns
    %h3=t '.title'
    %hr.divider
    %ul
      - @blogs.each do |blog|
        %li
          %h5
            = link_to blog.title, show_blog_path(blog)
          %p
            = truncate(blog.content, :length => 300).html_safe
            = link_to t('.read_more'), show_blog_path(blog)
    - if @blogs.count > 5
      %span.pretty.medium.warning.btn
        = link_to t('.see_more'), category_blog_path
  .four.columns
    %h3 Another Section
    %hr.divider