.row
  .twelve.columns
    =render partial: 'adverts/banner_slider', locals: { adverts: @adverts , show_banners: true}


.row
  .container
    %div
      %ul
        %li.events
          .row
            .twelve.columns.news_box
              - @news.each do |news|
                = link_to show_blog_path(news), class: 'no-padding' do
                  .one.columns
                    .date.news_date
                      = news.created_at.strftime('%d').html_safe
                      %small= news.created_at.strftime('%b').html_safe
                  .three.columns
                    = strip_tags(news.content.gsub('&nbsp',' '))[0..40] + "..."

