- model_class = Survey
.row
  %h3.twelve.columns
    = t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human
  %hr.divider
.row
  .twelve.columns
    = render :partial => "form"