- model_class = CourseReport
.row
  %h3.twelve.columns
    = t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human
  %hr.divider
.row
  .twelve.columns
    = render :partial => "report_form"