- model_class = CourseReport
.row
  %h3.twelve.columns
    - if @course_report.new_record?
      = t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human
    -else
      - if @step == 'course_photos'
        Kemas kini Maklumat Laporan
      - elsif @step == 'report_csv'
        Kemas kini Survey Laporan
  %hr.divider
.row
  .twelve.columns
    = render :partial => "#{@step}_form"