- model_class = CourseReport
.row
  %h3.twelve.columns
    - if @course_report.new_record?
      = t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human
    -else
      Kemaskini Report
  %hr.divider
.row
  .twelve.columns
    = render :partial => "report_form"