- model_class = Course
.row
  %h3.twelve.columns
    = t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human
  %small
    = t('fill_all_fields_correctly_hint')
  %hr.divider
.row
  .twelve.columns
    = render :partial => "form"