html*, body {}

body {
  font-size: 14px;
  margin-top: 0 !important;
  small {
    font-size: 75%;
  }
  h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    letter-spacing: -1px;
  }
  /* header */
  header {
    &.navbar {
      margin: 0;
      background: #FC4000;
      // border-bottom: 3px solid #C73100;
      .small { font-size:12px; text-align:right; margin-left: 20px;}
      .avatar {
        margin: 13px 13px 0 0;
        float: left;
        width: 30px;
        height: 30px;
        img {
          min-width: 100%;
          max-width: 100%;
          min-height: 100%;
          background: white;
        }
      }
      .profile {
        text-align: left;
        color: rgba(255, 255, 255, 1);
        a {
          color: rgba(255, 255, 255, 1);
          &:hover {
            background: transparent;
            text-shadow: 0 1px 4px #FFF;
          }
        }
        .dropdown {
          top: 60px;
          box-shadow: none !important;
          border: none;

          ul {
            li {
              a {
                font-size: 1.1em;
                margin: 0;
                padding: 0 10px;
                border: 0;
                border-bottom: 1px solid #CC3300;
                background-color: rgb(252, 64, 0);
                color: white;
                text-shadow: 0 1px #CC3300;
                &:hover {
                  color: rgba(61, 51, 61, 0.8);
                  text-shadow: 0 1px #CC9966;
                }
              }
            }
          }
          .dropdown { margin-left: -101px;}
        }
        span {
          i {
            position: absolute;
            right: 0;
          }
        }
        &:hover {
          background: transparent;
        }
      }
      .logo img {
        width: 40px;
        max-width: 40px;
        float: left;
        margin: 5px 0;
      }
      .logo a {
        color: rgba(255, 255, 255, 1);
        font-weight: 800;
        letter-spacing: -1px;
        text-shadow: 0 1px orangered;
      }
      .dropdown {
        border: none;
        li {
          a {
            border: 1px solid #DDD;
            border-top: none;
          }
        }
      }
    }
  }

  section {
    &#main {
      padding: 1em 0;
      &.welcome,
      &.registrations,
      &.confirmations,
      &.mailer,
      &.welcome,
      &.sessions {
        background-image: url('bground-b2cc613338fffc17a2a643a883caacaf.jpg');
        background-size: 100% 100%;
        padding: 20px 0;
        min-height: 550px;

        a{
          color: white;
        }
      }

      #home {
        padding: 0;
      }

      .title {
        color: rgba(255, 255, 255, 1);
      }

      .sub {
        font-size: 13px;
      }

      .top {
        display: inline-table;
        margin-bottom: 2em;
        font-weight: 800;
      }

      .valign {
        margin-top: 1em;
      }

      .panel {
        background: rgba(244, 244, 244, 0.6);
        padding: 10px;
        border: 1px solid #CECECE;
        margin-bottom: 1em;

        .ico-custom {
          margin: 0;
        }
      }

      .toggle {
        line-height: 50px;
      }

      .action {
        span.btn {
          margin: 10px auto 0;
        }
      }

      form {
        margin: 1em 0 0 0;
        .control-group {
          display: block;
          padding: 1em 0;
        }
        &.custom {
          input[type=radio] {
            -webkit-appearance: radio;
            width: auto;
            max-width: 30px;
            display: inline-block;
            // float: left;
            margin: 6px;
          }
          label {
            display: inline-block;
          }
        }
      }
    }

    aside#sidebar {
      ul {
        list-style: none;
        margin: 1em 0;
        padding: 0;
        font-size: 13px;
        border-right: 1px dotted #DDD;
        border-left: 1px dotted #DDD;
        li {
          border-bottom: 1px dotted #DDD;
          a {
            display: block;
            padding: 5px 0 5px 5px;
            &:hover {
              background: rgba(211, 211, 211, 0.4);
            }
          }
          &:first-child {
            border-top: 1px dotted #DDD;
          }
        }
        ul {
          padding: 0;
          margin: 0 5px;
          border: none;
          li {
            border: none;
            a {
              padding: 3px 0 3px 30px;
            }
          }
        }
        .dropdown-menu {
          display: none;
        }
      }
    }

    .table {
      .table-head {
        background: #FC4000;
        padding: 5px;
        margin: 15px auto 5px;
        .title {
          color: white;
        }
      }
      .table-rows {
        padding: 5px;
        border-bottom: 1px dotted #DDD;
        a {
          display: block;
          font-weight: bold;
          &:hover {
            background: transparent;
          }
        }
        small {
          clear: both;
          display: inline-block;
          font-size: 11px;
          font-weight: 300;
        }
        p {
          font-size: 13px;
          font-family: "Open Sans", Helvetica, Arial, sans-serif;

          .name {
            font-size: 15px;
            font-weight: 300;
          }
        }
        .small {
          a {
            font-weight: normal;
            min-width: 70px;
            max-width: 100px;
          }
        }
        .no-margin {
          margin-left: 0;
        }
        .date {
          font-size: 11px;
          font-style: normal;
          font-weight: 600;
          background: rgb(128, 128, 128);
          text-align: center;
          color: rgb(255, 255, 255);
        }
      }
      &.strip {
        tbody {
          tr {
            th, td {
              border: none !important;
              padding: 8px 0;
            }
            th, th > label {
              font-size: 95%;
              color: #888;
              width: 180px;
            }
          }
        }
      }
    }

    .tab-content {
      .charts {
        h4 {
          padding-bottom: 0;
          color: orange;
          font-weight: 600;
          letter-spacing: -1px;
        }
      }
      hr {
        border: none;
        border-top: 1px solid #DDD;
        height: 1px;
        margin: 1em 0;
      }
    }

    .image {
      &.avatar {
        margin: 5px 10px;
        padding: 5px;
        border: 1px solid orange;
      }
    }

    .social {
      font-size: 1.6em;
    }

    .divider {
      height: 1px;
      border-top: 1px solid #CCC;
      border-bottom: none;
      margin: 1.3em auto;
      width: 100%;
      display: inline-block;
    }

    .add-question {
      position: relative;
    }
  }

  footer {
    position: relative;
    z-index: 3;
    &#footer {
      background: rgba(255, 255, 255, 1);
      padding-top: 1em;
      border-top: 1px solid #DDD;
      position: relative;
      z-index: 0;
      .inline-list {
        text-align: center;
        li {
          margin: 0 1em;
          display: inline;
          a {
            font-size: 12px;
            color: #FC4000;
            &:hover {
              background: transparent;
            }
          }
        }
      }
    }
  }

  /* Banner */
  .adbox {
    position: relative;
    line-height: 1.6em;
    img {
      min-height: 100%;
      min-width: 100%;
    }
  }

  .adinfo {
    z-index: 1000;
    color: #FFF;
    position: absolute;
    right: 0;
    padding: 10px;
  }

  .adinfo {
    .title {
      background-color: rgba(0, 0, 0, 0.5);
      font-size: 24px;
      padding: 10px;
      text-align: right;
      font-weight: 600;
      letter-spacing: -1px;
    }

    .venue, .date {
      background-color: rgba(0, 0, 0, 0.3);
      font-size: 16px;
      padding: 5px 10px;
      text-align: right;
      width: 100%;
    }

    &.userselect {
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }

  .adinfo-product {
    z-index: 1000;
    color: #FFF;
    position: absolute;
    padding: 10px;

    .title {
      background-color: rgba(0, 0, 0, 0.5);
      font-size: 24px;
      padding: 10px;
    }

    .content {
      background-color: rgba(0, 0, 0, 0.3);
      font-size: 12px;
      padding: 5px 10px;
      max-width: 500px;
      line-height: 25px;
    }
  }

  #slides {
    .slidesjs-container {}
    .slidesjs-navigation {
      &:before {
        display: inline-block;
        position: static;
        min-width: 20px;
        margin: 0 5px;
        text-align: center;
        font-family: "entypo";
        zoom: 1;
      }
      &.slidesjs-previous:before {
        content: '\23ee';
      }
      &.slidesjs-next:before {
        content: '\23ed';
      }
      &.slidesjs-play:before {
        content: '\25b6';
      }
      &.slidesjs-stop:before {
        content: '\25a0';
      }
    }
  }

  /* Pagination */
  .pagination {
    text-align: center;
    font-family: "Open Sans", "Helvetica", sans-serif;
    font-size: 14px;
    margin: 1em auto;
    .page {
      background: #EFEFEF;
      border: 1px solid #DEDEDE;
      padding: 0;
      margin: -1px;
      display: inline-block;
      min-width: 30px;
      &.current {
        background: orange;
        color: white;
        font-weight: 600;
      }
    }
    .first, .prev, .next, .last {
      background: #EFEFEF;
      border: 1px solid #DEDEDE;
      padding: 0;
      margin: -1px;
      display: inline-block;
      min-width: 70px;
    }
    a {
      &:hover {
        background: transparent;
      }
    }
  }

  /* Tables */

  table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  }

  .table {
    width: 100%;
    margin-bottom: 20px;
    th, td {
      padding: 8px;
      line-height: 20px;
      text-align: left;
      vertical-align: top;
      border-top: 1px solid #dddddd;
    }
    th {
      font-weight: bold;
    }
    thead th {
      vertical-align: bottom;
    }
    caption + thead tr:first-child {
      th, td {
        border-top: 0;
      }
    }
    colgroup + thead tr:first-child {
      th, td {
        border-top: 0;
      }
    }
    thead:first-child tr:first-child {
      th, td {
        border-top: 0;
      }
    }
    tbody + tbody {
      border-top: 2px solid #dddddd;
    }
    .table {
      background-color: #ffffff;
    }
    .small {
      li {
        padding: 0;
      }
    }
  }

  .table-condensed {
    th, td {
      padding: 4px 5px;
    }
  }

  .table-bordered {
    border: 1px solid #dddddd;
    border-collapse: separate;
    *border-collapse: collapse;
    border-left: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    th, td {
      border-left: 1px solid #dddddd;
    }
    caption + {
      thead tr:first-child th {
        border-top: 0;
      }
      tbody tr:first-child {
        th, td {
          border-top: 0;
        }
      }
    }
    colgroup + {
      thead tr:first-child th {
        border-top: 0;
      }
      tbody tr:first-child {
        th, td {
          border-top: 0;
        }
      }
    }
    thead:first-child tr:first-child th {
      border-top: 0;
    }
    tbody:first-child tr:first-child {
      th, td {
        border-top: 0;
      }
    }
    thead:first-child tr:first-child > th:first-child {
      -webkit-border-top-left-radius: 4px;
      border-top-left-radius: 4px;
      -moz-border-radius-topleft: 4px;
    }
    tbody:first-child tr:first-child > {
      td:first-child, th:first-child {
        -webkit-border-top-left-radius: 4px;
        border-top-left-radius: 4px;
        -moz-border-radius-topleft: 4px;
      }
    }
    thead:first-child tr:first-child > th:last-child {
      -webkit-border-top-right-radius: 4px;
      border-top-right-radius: 4px;
      -moz-border-radius-topright: 4px;
    }
    tbody:first-child tr:first-child > {
      td:last-child, th:last-child {
        -webkit-border-top-right-radius: 4px;
        border-top-right-radius: 4px;
        -moz-border-radius-topright: 4px;
      }
    }
    thead:last-child tr:last-child > th:first-child {
      -webkit-border-bottom-left-radius: 4px;
      border-bottom-left-radius: 4px;
      -moz-border-radius-bottomleft: 4px;
    }
    tbody:last-child tr:last-child > {
      td:first-child, th:first-child {
        -webkit-border-bottom-left-radius: 4px;
        border-bottom-left-radius: 4px;
        -moz-border-radius-bottomleft: 4px;
      }
    }
    tfoot:last-child tr:last-child > {
      td:first-child, th:first-child {
        -webkit-border-bottom-left-radius: 4px;
        border-bottom-left-radius: 4px;
        -moz-border-radius-bottomleft: 4px;
      }
    }
    thead:last-child tr:last-child > th:last-child {
      -webkit-border-bottom-right-radius: 4px;
      border-bottom-right-radius: 4px;
      -moz-border-radius-bottomright: 4px;
    }
    tbody:last-child tr:last-child > {
      td:last-child, th:last-child {
        -webkit-border-bottom-right-radius: 4px;
        border-bottom-right-radius: 4px;
        -moz-border-radius-bottomright: 4px;
      }
    }
    tfoot {
      &:last-child tr:last-child > {
        td:last-child, th:last-child {
          -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
          -moz-border-radius-bottomright: 4px;
        }
      }
      + tbody:last-child tr:last-child td {
        &:first-child {
          -webkit-border-bottom-left-radius: 0;
          border-bottom-left-radius: 0;
          -moz-border-radius-bottomleft: 0;
        }
        &:last-child {
          -webkit-border-bottom-right-radius: 0;
          border-bottom-right-radius: 0;
          -moz-border-radius-bottomright: 0;
        }
      }
    }
    caption + {
      thead tr:first-child th:first-child, tbody tr:first-child td:first-child {
        -webkit-border-top-left-radius: 4px;
        border-top-left-radius: 4px;
        -moz-border-radius-topleft: 4px;
      }
    }
    colgroup + {
      thead tr:first-child th:first-child, tbody tr:first-child td:first-child {
        -webkit-border-top-left-radius: 4px;
        border-top-left-radius: 4px;
        -moz-border-radius-topleft: 4px;
      }
    }
    caption + {
      thead tr:first-child th:last-child, tbody tr:first-child td:last-child {
        -webkit-border-top-right-radius: 4px;
        border-top-right-radius: 4px;
        -moz-border-radius-topright: 4px;
      }
    }
    colgroup + {
      thead tr:first-child th:last-child, tbody tr:first-child td:last-child {
        -webkit-border-top-right-radius: 4px;
        border-top-right-radius: 4px;
        -moz-border-radius-topright: 4px;
      }
    }
  }

  .table-striped tbody > tr:nth-child(odd) > {
    td, th {
      background-color: #f9f9f9;
    }
  }

  .table-hover tbody tr:hover > {
    td, th {
      background-color: #f5f5f5;
    }
  }

  table {
    td[class*="span"], th[class*="span"] {
      display: table-cell;
      float: none;
      margin-left: 0;
    }
  }

  .row-fluid table {
    td[class*="span"], th[class*="span"] {
      display: table-cell;
      float: none;
      margin-left: 0;
    }
  }

  .table {
    td.span1, th.span1 {
      float: none;
      width: 44px;
      margin-left: 0;
    }
    td.span2, th.span2 {
      float: none;
      width: 124px;
      margin-left: 0;
    }
    td.span3, th.span3 {
      float: none;
      width: 204px;
      margin-left: 0;
    }
    td.span4, th.span4 {
      float: none;
      width: 284px;
      margin-left: 0;
    }
    td.span5, th.span5 {
      float: none;
      width: 364px;
      margin-left: 0;
    }
    td.span6, th.span6 {
      float: none;
      width: 444px;
      margin-left: 0;
    }
    td.span7, th.span7 {
      float: none;
      width: 524px;
      margin-left: 0;
    }
    td.span8, th.span8 {
      float: none;
      width: 604px;
      margin-left: 0;
    }
    td.span9, th.span9 {
      float: none;
      width: 684px;
      margin-left: 0;
    }
    td.span10, th.span10 {
      float: none;
      width: 764px;
      margin-left: 0;
    }
    td.span11, th.span11 {
      float: none;
      width: 844px;
      margin-left: 0;
    }
    td.span12, th.span12 {
      float: none;
      width: 924px;
      margin-left: 0;
    }
    tbody tr {
      &.success > td {
        background-color: #dff0d8;
      }
      &.error > td {
        background-color: #f2dede;
      }
      &.warning > td {
        background-color: #fcf8e3;
      }
      &.info > td {
        background-color: #d9edf7;
      }
    }
  }

  .table-hover tbody tr {
    &.success:hover > td {
      background-color: #d0e9c6;
    }
    &.error:hover > td {
      background-color: #ebcccc;
    }
    &.warning:hover > td {
      background-color: #faf2cc;
    }
    &.info:hover > td {
      background-color: #c4e3f3;
    }
  }

  /* Alert, Notice */
  .alert {
    position: relative;
    margin: 0 auto 1em;
    width: 100%;
    z-index: 3;

    .close {
      position: absolute;
      right: 5px;
      color: white;
    }
  }
}

.top-padding {
  margin-top: 8px;
}
.text_area_large {
  width: 420px;
  height: 200px;
}

.text-area-medium {
  width: 420px;
  height: 100px;
}

.left-padding {
  margin-left: 80px;
}

.right-padding-small {
  margin-right: 20px;
}

.text-field-longish {
  width:500px !important;
}

.questions .controls {
}

.short-column {
  width: 30px !important;
}

.short-select {
  width: 50px;
}

.wide-dt {
  width: 250px !important;
}

.center {
  text-align: center;
}
.right {
  float: right;
}

.left {
  float: left;
}

.panel-small {
  width: 70% !important;
}

.padding-top-some {
  padding-top: 15px;
}

.font-smaller {
  font-size: 12px;
}

.block {
  display: block;
}

@media print {
  /* Printing Section */

  body {
    .navbar {
      display: none;
    }
    #footer {
      display: none;
    }
    #sidebar {
      display: none;
    }
    .row {
      &.print-disabled {
        display: none;
      }
      &.print-section {
        display: block;
        width: 100% !important;
      }
      .print-disabled {
        display: none;
      }
    }
  }
  .row {
    .print-section {
      width: 100% !important;
    }
    .print-disabled {
      display: none;
    }
  }
}

.bold {
  font-weight: bold;
}

.break { page-break-before: always; }

.redactor_redactor-less {
  b {
    font-weight: bold;
  }
  i {
    font-style: italic;
  }
}

.less-left-margin {
  a {
  
    padding-left: 0;
  }

}
.less-right-margin {
  margin-right: 0;
  padding-right: 0;
}