/* Body and structure
-------------------------------------------------- */
body {
  position: relative;
  padding-top:120px;
  padding-bottom: 0;
  background-color: #EBEAEA;
}

.nocap { text-transform:none; }
.allcap { text-transform:capitalize; }
.inheritcap { text-transform:inherit; }
.uppercap { text-transform:uppercase; }

/* Nav
-------------------------------------------------- */
.navbar .brand {
  float: left;
  display: block;
  padding: 10px 20px 10px;
  margin:-12px 0 -12px 0;
  margin-left: -20px;
  font-size: 18px;
  color: #FFF;
  height:100%;
  line-height: 100%;
  text-transform:uppercase;
}
.navbar .brand:hover,
.navbar .brand:focus {
  text-decoration: none;
  background-color: transparent;
  text-shadow:0 1px 0px #BBB;
}

.navbar-menu .nav { }

.navbar .nav > li > a {
  float: none;
  padding: 10px 15px 10px;
  text-decoration: none;
  text-shadow: 0 0 0 #ffffff;
  color:#FFF;
}

.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
  text-decoration: none;
}

a.dropdown-toggle.user { text-transform:uppercase; color:#FFF; }
a.dropdown-toggle img { border-radius: 5px; line-height: 100%; }
a.dropdown-toggle span { }
.navbar-topbar { 
  padding: 10px 0;
  margin: -1px 0;
  background: #2A2A30;
  background: -moz-linear-gradient(top,  #2A2A30 0%, #2A2A30 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2A2A30), color-stop(100%,#2A2A30));
  background: -webkit-linear-gradient(top,  #2A2A30 0%,#2A2A30 100%);
  background: -o-linear-gradient(top,  #2A2A30 0%,#2A2A30 100%);
  background: -ms-linear-gradient(top,  #2A2A30 0%,#2A2A30 100%);
  background: linear-gradient(to bottom,  #2A2A30 0%,#2A2A30 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2A2A30', endColorstr='#2A2A30',GradientType=0 );
}

.navbar-menu {
  background-color: #F88063;
  background-image: -moz-linear-gradient(top, #F88063, #F88063);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F88063), to(#F88063));
  background-image: -webkit-linear-gradient(top, #F88063, #F88063);
  background-image: -o-linear-gradient(top, #F88063, #F88063);
  background-image: linear-gradient(to bottom, #F88063, #F88063);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
}
.navbar-inner.navbar-menu{ border-bottom:4px solid #C6674F; }
.navbar-menu .nav { border-left: 1px solid #DB7258;}
.navbar-menu li { text-transform:uppercase; padding: 7px 10px; border-right: 1px solid #DB7258; }

#user-avatar { position: absolute; margin:-5px 0 0 -40px; } 

.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  color: #555555;
  background-color: transparent;
}

/* Layout
-------------------------------------------------- */
.page-header {
  padding-bottom: 9px;
  margin: 20px 0 30px;
  border-bottom: 0 solid #eeeeee;
}
.page-header h1 {
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style:normal;
  margin-bottom: -10px;
}

.wrapper{
  background-color: #FFF;
  border-radius: 4px;
  margin: 2px;
  border: 1px solid #D9DBDB;
}
.border-right { border-right: 1px solid #D9DBDB; }
.border-bottom { border-bottom: 1px solid #D9DBDB; }

.nomargin {
  margin-bottom: -30px;
}
.whitespace{ padding:15px; }
.aleft{ float:left; }
.aleft img { margin:0 17px 12px 0; border-radius: 3px; }
.aright #name { font-size: 17px; color:#F7845F; font-family: 'Open-Sans', sans-serif; font-weight: bold;}
.aright span { font-size: 11px; color:#808585; font-family: 'Open-Sans', sans-serif; font-weight: 100; }
.aright table { width:80%; margin: -7px 0 -10px 0;}

.form-actions {
  padding: 5px 0 20px;
  background-color: transparent;
  border-top: 0 solid #e5e5e5;
  *zoom: 1;
  float:right;
}

label, input, button, select, textarea {
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
}

.content{ padding-left: 10px;}
.login-hero { font-family: 'Roboto', sans-serif; padding-top:40px; }
.login-hero h1 { font-weight: 100; color:#FFF; padding-bottom: 12px; }
.login-hero p { font-weight: 300; color:#FFF; font-size: 16px; padding: 20px; }
.icon { background:url('<%= image_path 'assets.png' %>'); background-position:0px -143px; }
.login-box { margin-top:30px; background: rgba(255, 255, 255, 1); width:250px; padding:3px 30px 30px 30px; border-radius: 5px;}

.adbox { position: relative; font-family: 'Raleway', sans-serif; line-height: -20px; }
.adbox img{ height:220px; width:100%;  }
.adinfo { z-index:1000; color: #FFF; position: absolute; right:0; }
.adinfo-product { z-index:1000; color: #FFF; position: absolute;}
.adinfo .title { background-color:rgba(255,255,255,.5); font-size: 24px; padding: 8px 10px; text-align:right; font-weight: 100; margin-top: 40px; margin-bottom:10px;}
.adinfo .venue { background-color:rgba(255,255,255,.3); font-size: 12px; padding: 3px; text-align: center; width: 100%;}
.adinfo .date { background-color:rgba(255,255,255,.3); font-size: 12px; padding: 3px; text-align: center; width: 100%;}

.adinfo-product .title {background-color:rgba(255,255,255,.5); font-size: 24px; padding: 8px 10px; font-weight: 100; margin-top: 40px; margin-bottom:10px;}
.adinfo-product .content { background-color:rgba(255,255,255,.3); font-size: 12px; padding: 8px; max-width: 400px;}
.userselect{ -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}

/* Table
-------------------------------------------------- */
.table { font-size: 12px; font-family: 'Open-Sans', sans-serif; font-weight: 400; margin-top: 15px; margin-left: -5px; }
.table th { color:#808585; font-size: 12px; width:45%; border-top: 0 solid #dddddd;}
.table tr th {width: 140px;}
.table td { }
.table td { color:#808585;font-size: 12px; width:auto; padding: 8px; line-height: 20px; text-align: left; vertical-align: top; border-top: 0 solid #dddddd; }
.table .header { color: #585A5A; text-transform:uppercase; width:100%; }

.icon-ui {  }
.icon-ui li .first {  }
/* Button
-------------------------------------------------- */
.btn {
  background: #34495e;
  color: #FFF;
  text-decoration: none;
  text-shadow: 0 0 1px #111;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
  border-radius:2px; 
}

.btn:hover, .btn:focus, .btn:visited {
  background-color: #FF8668;
  color:#FFF;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden; 
}
  
.btn-flat {
  display:inline-block;
  color:#FFF;
  padding:12px 40px;
  -moz-box-shadow:inset 0px -1px 0px 0px #646C6D;
  -webkit-box-shadow:inset 0px -1px 0px 0px #646C6D;
  box-shadow:inset 0px -1px 0px 0px #646C6D;
  background-color:#848789;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  
  text-transform:uppercase;
  font-size: 10px;
  font-family: 'Open-Sans', sans-serif;
  
}

.btn:active, .btn.active {
  background-color: #2c3e50;
  color: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }
.btn.disabled, .btn[disabled] {
  background-color: #95a5a6;
  color: white; }
.btn.btn-large {
  padding-bottom: 12px;
  padding-top: 13px; }
.btn.btn-primary {
  background-color: #34495E; }
  .btn.btn-primary:hover, .btn.btn-primary:focus {
    background-color: #2fe2bf; }
  .btn.btn-primary:active, .btn.btn-primary.active {
    background-color: #344900; }
.btn.btn-secondary {
  background-color: #1abc9c; }
  .btn.btn-secondary:hover, .btn.btn-secondary:focus {
    background-color: #2fe2bf; }
  .btn.btn-secondary:active, .btn.btn-secondary.active {
    background-color: #16a085; }
.btn.btn-info {
  background-color: #3498db; }
  .btn.btn-info:hover, .btn.btn-info:focus {
    background-color: #5dade2; }
  .btn.btn-info:active, .btn.btn-info.active {
    background-color: #2383c4; }
.btn.btn-danger {
  background-color: #e74c3c; }
  .btn.btn-danger:hover, .btn.btn-danger:focus {
    background-color: #ec7063; }
  .btn.btn-danger:active, .btn.btn-danger.active {
    background-color: #dc2d1b; }
.btn.btn-success {
  background-color: #2ecc71; }
  .btn.btn-success:hover, .btn.btn-success:focus {
    background-color: #55d98d; }
  .btn.btn-success:active, .btn.btn-success.active {
    background-color: #27ad60; }
.btn.btn-warning {
  background-color: #f1c40f; }
  .btn.btn-warning:hover, .btn.btn-warning:focus {
    background-color: #f4d03f; }
  .btn.btn-warning:active, .btn.btn-warning.active {
    background-color: #cea70c; }


/* Footer
-------------------------------------------------- */
.footer {
  font-size: 13px;
  text-shadow:1px 1px 0 #CCC;
  line-height: 24px;
  color: #999999;
  margin-top: 48px;
  padding: 36px 0 24px;
  text-align: center;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
}
@media (max-width: 767px) {
  .footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}