body {
  margin: 1em 0;
  &.portal {
    background: #782215 url('background-portal.png') top left repeat-x;
    header {
      background: transparent;
      border: none;
      &.navbar {
        ul {
          li {
            > a {
              text-shadow: none;
              font-size: 1em;
              color: #d04526;
              &:hover {
                background: transparent;
                color: black;
              }
            }
          }
        }
        .navigation {
          background: #faf1e3;
          padding: 10px 0 10px 10px;
          border-radius: 5px 5px 0 0;
          -webkit-border-radius: 5px 5px 0 0;
          -moz-border-radius: 5px 5px 0 0;
        }
        .logo {
          a {
            color: #d04526;
            text-shadow: 0 1px #FFFFFF;
          }
        }
        form {
          label {
            font-size: 80%;
            padding: 0;
            margin: 0 5px;
            line-height: 1em;
          }
        }
      }
      .dropdown.custom {
        right: 0;
        width: 320px;
        border: none;
        background-color: #faf1e3;
        form {
          padding: 10px;
        }
        ul {
          float: left;
          width: 300px;
          display: inline-block;
        }
      }
    }
    section#main {
      margin: 0;
      padding: 0;
      .panel {
        background: #faf1e3;
        border: none;
        border-radius: 0 0 5px 5px;
        padding: 20px;
        /*overflow: hidden;*/


        .member_image {
          /*height: 280px;
          overflow: hidden;*/
          margin: 0;
          > img {
            min-width: 100%;
            /*min-height: 100%;*/
          }
          ul, ul ul {
            margin: 0;
            padding: 0;
            li { padding: 0 }
          }
        }

        .image {
          height: 100px;
          overflow: hidden;
          margin: 0;
          > img {
            min-width: 100%;
            min-height: 100%;
          }
          ul, ul ul {
            margin: 0;
            padding: 0;
            li { padding: 0 }
          }
        }
        .name {
          min-height: 50px;
        }
      }
      .blog-list {
        li.panel {
          display: block;
          border-bottom: 1px dotted #ecd9bb;
        }
        li {
          p, ol, li {
            font-size: 13px;
          }
        }
      }
      .table {
        .table-head {
          background: #29110d;
          color: white;
        }
      }
      .colgrid {
        .panel {
          background: #DDD;
          border-radius: 0;
          border: 1px solid #CCC;
        }
      }
      .filter {
        li {
          display: inline;
          float: none;
        }
      }
      .events {
        padding: 0 0 10px;
        p {
          font-size: 1em;
          small {
            line-height: 1em;
          }
        }
        .date {
          text-align: center;
          padding: 10px 0;
          font-weight: 700;
          font-size: 1.4em;
          color: white;
          background-color: #2D1610;
          small {
            display: block;
            clear: both;
            font-size: 65%;
            font-weight: 400;
            line-height: 1em;
          }
        }
      }
    }
    .tag {
      display: inline !important;
      font-size: 12px;
    }
    .adboxs {
      min-height: 300px;
      img {
        min-width: 100%;
        min-height: 300px;
        background: #CCC;
      }
    }
    .adinfos {
      background: rgba(100, 100, 100, 0.4);
      border-radius: 100%;
      width: 300px;
      height: 300px;
      text-align: center;
      vertical-align: middle;
      .title {
        background: transparent;
        font-size: 1.8em;
        font-weight: 600;
        letter-spacing: -1px;
        text-align: center;
      }
      .venue, .date {
        background: transparent;
        text-align: center;
        font-size: 1.3em;
      }
    }
    .tiles {
      .panel {
        max-height: 380px;
        min-height: 380px;
      }
    }
    footer {
      &#footer {
        background: transparent;
        border: none;
        ul {
          li {
            a {
              color: white;
            }
          }
        }
        small {
          color: white;
        }
      }
    }
  }
}