body {
  &.portal {
    background: #782215 url('background-portal.png') top left repeat-x;
    header {
      &.navbar {
        ul {
          li {
            > a {
              text-shadow: none;
              font-size: 1em;
              &:hover {
                background: transparent;
                color: black;
              }
            }
          }
        }
      }
      .dropdown.custom {
        right: 0;
        width: 320px;
        border: none;
        background-color: orangered;
        form {
          padding: 10px;
        }
        ul {
          float: left;
          width: 300px;
          display: inline-block;
        }
      }
    }
    section#main {
      .panel {
        background: #faf1e3;
        border: none;
        border-radius: 5px;
      }
      .blog-list {
        li.panel {
          display: block;
          border-bottom: 1px dotted #ecd9bb;
        }
        li {
          p, ol, li {
            font-size: 13px;
          }
        }
      }
      .table {
        .table-head {
          background: #29110d;
          color: white;
        }
      }
      .colgrid {
        .panel {
          background: #DDD;
          border-radius: 0;
          border: 1px solid #CCC;
        }
      }
      .filter {
        li {
          display: inline;
          float: none;
        }
      }
      .events {
        padding: 0 0 10px;
        p {
          line-height: 1em;
          small {
            line-height: 1em;
          }
        }
      }
      .date {
        text-align: center;
        padding: 10px 0;
        line-height: 12px;
        font-weight: 700;
        color: white;
        background-color: #2D1610;
      }
    }
    .tag {
      display: inline !important;
      font-size: 12px;
    }
    .adbox {
      min-height: 300px;
      img {
        min-width: 100%;
        min-height: 300px;
        background: #CCC;
      }
    }
    .adinfo {
      background: rgba(100, 100, 100, 0.4);
      border-radius: 100%;
      width: 300px;
      height: 300px;
      text-align: center;
      vertical-align: middle;
      .title {
        background: transparent;
        font-size: 1.8em;
        font-weight: 600;
        letter-spacing: -1px;
        text-align: center;
      }
      .venue, .date {
        background: transparent;
        text-align: center;
        font-size: 1.3em;
      }
    }
    .tiles {
      .panel {
        max-height: 260px;
        min-height: 260px;
      }
    }
    footer {
      &#footer {
        background: transparent;
        border: none;
        ul {
          li {
            a {
              color: white;
            }
          }
        }
        small {
          color: white;
        }
      }
    }
  }
}