/* Printing Section */

body {
  .navbar {
    display: none;
  }
  #footer {
    display: none;
  }
  #sidebar {
    display: none;
  }
  .row {
    &.print-disabled {
      display: none;
    }
    &.print-section {
      display: block;
      width: 100% !important;
    }
    .print-disabled {
      display: none;
    }
  }
}