<p>Tahniah <%= @email %>!</p>

<p>Anda telah berjaya didaftarkan sebagai ahli PKNS BizClub.</p>

<p>Sila sahkan email anda melalui pautan di bawah.</p>

<p><%= link_to 'Sahkan akaun saya', user_confirmation_url(:confirmation_token => @resource.confirmation_token), :method=>:post %></p>