<p>Tahniah <%= @email %></p>

<% if @resource.walk_in_first_time %>
  <p>Anda dijemput untuk menjadi ahli PKNS Biz Data kerana anda pernah menyertai kursus kelolaan PKNS.</p>

  <p>Sila sahkan email anda melalui pautan di bawah.</p>

  <p><%= link_to 'Sahkan akaun saya', user_confirmation_url(:confirmation_token => @resource.confirmation_token, make_member: true), :method=>:post %></p>
<% elsif @resource.type == 'PknsUser' %>

  <p>Anda telah berjaya didaftarkan sebagai operator PKNS.</p>

  <p>Sila sahkan email anda melalui pautan di bawah.</p>

  <p><%= link_to 'Sahkan akaun saya', user_confirmation_url(:confirmation_token => @resource.confirmation_token), :method=>:post %></p>
<% else %>

  <p>Anda telah berjaya didaftarkan sebagai Pengguna Sistem PKNS Bizdata.</p>

  <p>Untuk menggunakan Sistem PKNS Bizdata seperti pengguna yang lain, pastikan anda menjadi ahli 
dalam mana-mana program dengan menghadiri kursus yang disediakan.</p>

  <p>Bagaimana menjadi Ahli PKNS Bizdata?</p>

  <ul>
   <li>Hadirkan diri dalam mana-mana kursus yang dianjurkan oleh PKNS</li>
   <li>Jangan lepaskan peluang yang ada</li>
   <li>Banyak manfaat dan kelebihan yang anda akan dapat seperti jaringan usahawan, maklumat 
kursus dan pelbagai peluang yang menanti anda</li>

  </ul>

  <p>Sila sahkan email anda melalui pautan di bawah.</p>

  <p><%= link_to 'Sahkan akaun saya', user_confirmation_url(:confirmation_token => @resource.confirmation_token), :method=>:post %></p>

<% end %>