<p>Hai <%= @resource.email %>!</p>

<p>Anda telahpun meminta untuk menukar katalaluan. Sila teruskan dengan klik ke pautan dibawah.</p>

<p><%= link_to 'Tukar kata laluan saya', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Jika bukan anda yang meminta, sila abaikan emel ini.</p>

<p>Kata laluan anda tidak akan ditukar selagi anda meneruskan dengan pautan diatas.</p>