<p>Hi <%= @resource.email %>!</p>

<p>Akaun anda telah dikunci disebabkan cubaan akses yang bertubi-tubi.</p>

<p>Klik pautan dibawah untuk membebaskan akaun anda dari terus dibekukan:</p>

<p><%= link_to 'Buka semula akaun saya', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
