
<div class="row">
  <div class="twelve columns center">
    <div class="table">
      <div class="row table-head">
        <div class="five columns">
          <h6 class="title">
            Status Semasa
          </h6>
        </div>
        <div class="two columns">
          <h6 class="title">
            Lelaki
          </h6>
        </div>
        <div class="three columns">
          <h6 class="title">
            Perempuan
          </h6>
        </div>
        <div class="two columns">
          <h6 class="title">
            Jumlah
          </h6>
        </div>
      </div>
      <div class="row table-rows">
        <div class="five columns">
          <p>
            Pemilik Perniagaan
          </p>
        </div>
        <div class="two columns">
          <p>
            2
          </p>
        </div>
        <div class="three columns">
          <p>
            2
          </p>
        </div>
        <div class="two columns">
          <p>
            4
          </p>
        </div>
      </div>
      <div class="row table-rows">
        <div class="five columns">
          <p>
            Bekerja/Belajar
          </p>
        </div>
        <div class="two columns">
          <p>
            1
          </p>
        </div>
        <div class="three columns">
          <p>
            0
          </p>
        </div>
        <div class="two columns">
          <p>
            1
          </p>
        </div>
      </div>
      <div class="row table-rows">
        <div class="five columns">
          <p>
            Belajar
          </p>
        </div>
        <div class="two columns">
          <p>
            1
          </p>
        </div>
        <div class="three columns">
          <p>
            1
          </p>
        </div>
        <div class="two columns">
          <p>
            2
          </p>
        </div>
      </div>
      <div class="row table-rows">
        <div class="five columns">
          <p>
            Bekerja/Perniagaan Sendiri
          </p>
        </div>
        <div class="two columns">
          <p>
            0
          </p>
        </div>
        <div class="three columns">
          <p>
            0
          </p>
        </div>
        <div class="two columns">
          <p>
            0
          </p>
        </div>
      </div>
      <div class="row table-rows">
        <div class="five columns">
          <p>
            Belajar/Perniagaan Sendiri
          </p>
        </div>
        <div class="two columns">
          <p>
            0
          </p>
        </div>
        <div class="three columns">
          <p>
            0
          </p>
        </div>
        <div class="two columns">
          <p>
            0
          </p>
        </div>
      </div>
      <div class="row table-rows">
        <div class="five columns">
          <p>
            Bekerja
          </p>
        </div>
        <div class="two columns">
          <p>
            1
          </p>
        </div>
        <div class="three columns">
          <p>
            0
          </p>
        </div>
        <div class="two columns">
          <p>
            1
          </p>
        </div>
      </div>
      <div class="row table-rows">
        <div class="five columns">
          <p>
            Tidak Diketahui
          </p>
        </div>
        <div class="two columns">
          <p>
            10
          </p>
        </div>
        <div class="three columns">
          <p>
            4
          </p>
        </div>
        <div class="two columns">
          <p>
            14
          </p>
        </div>
      </div>
      <div class="row table-rows">
        <div class="five columns">
          <p class="bold">
            Jumlah
          </p>
        </div>
        <div class="two columns">
          <p class="bold">
            5
          </p>
        </div>
        <div class="three columns">
          <p class="bold">
            3
          </p>
        </div>
        <div class="two columns">
          <p></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="twelve columns">
    
  </div>
  <hr>
    
  
</div>
