.row
  %h3.twelve.columns
    =t '.title'

%table.table.kpi
  %tr
    %th{rowspan: 2}
      Bil
    %th{rowspan: 2, colspan: 2}
      Program
    %th{colspan: 12}
      Bilangan Peserta
    %th{rowspan: 2}
      Jumlah Semasa
    %th{rowspan: 2}
      Sasaran Semasa (Peserta/Penyertaan)
    %th{rowspan: 2}
      Sasaran Tahunan (Peserta/Penyertaan)
    %th{rowspan: 2}
      \% Pencapaian (Semasa)
    %th{rowspan: 2}
      \% Pencapaian (Tahunan)
  %tr
    %th
      Jan
    %th
      Feb
    %th
      Jan
    %th
      Feb
    %th
      Jan
    %th
      Feb
    %th
      Jan
    %th
      Feb
    %th
      Jan
    %th
      Feb
    %th
      Jan
    %th
      Feb
  
  %tr
    %td
      1
    %td
      Program
    %td
      CourseType
    %td
      22 
    %td
      22 
    %td
      22 
    %td
      22 
    %td
      22 
    %td
      22 
    %td
      22 
    %td
      22 
    %td
      22 
    %td
      22 
    %td
      22 
    %td
      22 
    %td
      300
    %td
      150 org/1 Sesi @ 450 org/3 Sesi
    %td
      150 org/1 Sesi @ 450 org/3 Sesi
    %td
      87%
    %td
      57%