- if self.flash[:alert]
  .alert.primary.print-disabled
    = alert.html_safe
    %span.close{:'ui-close' => 'ui-close'}
      %i.icon-cancel

- if self.flash[:notice]
  .alert.info.print-disabled
    = notice.html_safe
    %span.close{:'ui-close' => 'ui-close'}
      %i.icon-cancel