%footer#footer
  .row
    .centered.ten.columns
      %ul.inline-list 
        %li
          =link_to 'PKNS', 'http://www.pkns.gov.my/HTML/index.html'
        %li
          = link_to 'BPU','http://www.pknsbizpoint.com/'
        %li
          =link_to 'Blog', category_blog_path
        %li
          =link_to 'Syarat dan Terma', tnc_path
        /  =link_to 'Advertisers', '#'
        %li
          =link_to 'Hubungi Kami', portal_contact_path
        / %li
        /   =link_to 'Media', '#'
  .row
    .twelve.columns
      %center
        %small.copyright
          &copy; PKNS. 2013