%footer#footer
  .row
    .centered.ten.columns
      %ul.inline-list
        %li
          =link_to 'Help', '#'
        %li
          =link_to 'About', '#'
        %li
          =link_to 'Blog', '#'
        %li
          =link_to 'Status', '#'
        %li
          =link_to 'Jobs', '#'
        %li
          =link_to 'Terms', '#'
        %li
          =link_to 'Privacy', '#'
        %li
          =link_to 'Advertisers', '#'
        %li
          =link_to 'Businesses', '#'
        %li
          =link_to 'Media', '#'
  .row
    .twelve.columns
      %center
        %small.copyright
          &copy; PKNS. 2013