%header.navbar
  .row
    %h5.nine.columns.logo
      .six.columns
        = image_tag 'pknslogo.png'
        = link_to 'PKNS BIZ DATA', '/home'
      .five.columns.small
        = session[:current_program_name] unless session[:current_program_name].nil?#, '#'
    / %ul.three.columns.small
    /   = session[:current_program_name] unless session[:current_program_name].nil?#, '#'
    %ul.three.columns
      = render 'layouts/navigation'